= form_with model: @menu, class: "postForm", local: true do |f|
  = f.label :image, class: "postForm__image" do
    = icon('far', 'plus-square')
    %span.postForm__image__title トップページ写真
    = f.file_field :image, class: "postForm__image__file"
  = f.label :images, class: "postForm__image" do
    = icon('far', 'plus-square')
    = f.file_field :images, multiple: true, class: "postForm__image__file"
    %span.postForm__image__title 関連写真(複数可)
  = f.text_field :time, class: "postForm__time", placeholder: "調理時間（分）"
  = f.text_area :point, class: "postForm__point", placeholder: "Point：", rows: "3"
  = f.text_area :content, class: "postForm__content", placeholder: "内容: 使った商品・レシピなど", rows: "9"
  = f.submit '投稿', class: "postForm__btn", data: { confirm: "投稿します" }