.listBox
  .boxImage
    = image_tag menu.image.url
  .boxInfo
    .boxInfo__name
      = "#{menu.user.name}の今日のごはん"
    .boxInfo__time
      = "調理時間：#{menu.time}分"
    .boxInfo__point
      = "Point：#{menu.point}"
