= link_to menu_path(menu.id), method: :get, class: "listBox" do
  .boxImage
    = image_tag menu.image.url
  .boxInfo
    .keywords
      - menu.keywords.each do |keyword|
        .keyword
          = keyword.word
    .boxInfo__second
      .boxInfo__second__time
        = "調理時間：#{menu.cookingTime.time}"
      .boxInfo__second__user
        = menu.user.name
    .boxInfo__point
      = "Point"
      %br/
      = menu.point
