= link_to menu_path(menu.id), method: :get, class: "listBox" do
  .boxImage
    = image_tag menu.image.url
  .boxInfo
    .boxInfo__name
      = "#{menu.user.name}の今日のごはん"
    .boxInfo__time
      = "調理時間：#{menu.time}分"
    .boxInfo__point
      = "Point"
      %br
      = menu.point
