.wrapper
  = render partial: "header"
  .footer
    .menuList
      .listTop
        キーワード検索
        = link_to search_menus_path(keyword: "30分以内"), method: :get, class: "listTop__btn" do
          30分以内
        = link_to search_menus_path(keyword: "冷凍食品"), method: :get, class: "listTop__btn" do
          冷凍食品
        = link_to search_menus_path(keyword: "レンジ調理"), method: :get, class: "listTop__btn" do
          レンジ調理
        = link_to search_menus_path(keyword: "包丁要らず"), method: :get, class: "listTop__btn" do
          包丁要らず


      .listBottom
        - @menus.each do |menu|
          = render partial: "menu", locals: { menu: menu }




